# gradle

.gradle/
build/
out/
classes/
build_output.txt

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project
.trae/

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jar

# Other

1.21.11-src/
fabric-docs-main/
logs/

